.quizz-screen{

    .header{
        padding: 20px 0px;

        img{
            height: 40px;
        }

        .timer{
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    
    .cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 15px;

        padding: 20px 0px;
    }

    .navigation-buttons{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
}